/*  */
.listItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin: 20px;
    border-radius: 100px;
    color: white;
    background-color: #333140;
}

.Appointments {
    height: 100%;
    width: 100%;
}

.ProfilePhoto {
    height: 40px;
    width: 40px;
    border-radius: 100px;
    background-color: #F26D3D;
    margin-left: 5px;
}

.listButton {
    color: white;
    height: 40px;
    width: 150px;
    border-radius: 100px;
    border-style: none;
    background-color: #F26D3D;
    margin-right: 5px;
}

.listButton:hover {
    box-shadow: 0px 0px 10px #F26D3D;
}

.appointmentsHeading {
    color: white;
    font-size: 30px;
    text-align: left;
    margin-left: 75px;
}
/*  */

.Accepted {
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
    background-color:#212026;
    margin-bottom: 10px;
    display: flex;
    border-radius: 100px;
    justify-content: space-between;
    align-items: center;
}

.ProfilePicture {
    height: 20px;
    width: 20px;
    margin-left: 5px;
    background-color:#F26D3D;
    border-radius: 100px;
}

.listName {
    color: white;
    margin-right: 5px;
}

.acceptedHeading {
    color: #F26D3D;
}