/* PanelContainer */
.panelContainer {
  display: flex;
  height: 100%;
  width: 100%;
  position: absolute;
}

.leftPanel {
  height: 100%;
  width: 20%;
  text-align: left;
  color: white;
  background-color: #212026;
}

@media only screen and (max-width:800px) {
  .leftPanel {
    display: none;
  }
}

.middlePanel {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #212026;
}

@media only screen and (max-width:800px) {
  .middlePanel {
    width: 100%;
    overflow: hidden;
  }
}

.rightPanel {
  height: 100%;
  width: 30%;
  background-color: #212026;
}

@media only screen and (max-width:800px) {
  .rightPanel {
    display: none;
  }
}

/* PanelContainer */


