.MobileMenu {
  font-size: 30px;
  color: #F26D3D;
  position: relative;
  right: 10px;
  top: 0px;
  display: none;
}

@media only screen and (max-width:800px) {
  .MobileMenu {
    display: block;
  }
}