.menuButton {
  font-size: 15px;
  color: #F26D3D;
  position: relative;
  right: 20px;
  top: 0px;
  display: none;
}

@media screen and (max-width:800px) {
  .menuButton {
    display: block;
  }
}

#MobileMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  background-color: black;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  scale: 0%;
  transition: 0.5s;
  overflow: hidden;
}

.mobileMenuButton {
  position: relative;
  right: -80px;
  top: -19px;
}

.mobilePanelContent li {
  text-align: center;
  font-size: 10px;
  margin-bottom: 20px;
  color: #F26D3D;
  text-decoration-line: none;
  list-style: none;
}

.mobilePanelContent ul li {
  position: relative;
  right: 20px;

}

.Logo1 {
  margin-top: 0px;
  width: 100%;
  text-align: center;
  font-size: 10px;
  color: white;
}

.Logo1 span {
  color: #F26D3D;
}

/* @media only screen and (max-width:800px) {
  .MobileMenu {
    display: none;
  }
} */