.App {
  text-align: center;
}

.ToDoList {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #417CF2;
}

.Notes {
  overflow-y: auto;
}

.Notes textarea {
  height: 50px;
  width: 90%;
  margin-bottom: 5px;
}