.App {
  text-align: center;
  overflow: hidden;
}


/* Background */
.background {
  z-index: 1;
}

.Blend {
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 70%;
  background-color: black;
}

.background img{
  padding-top: 100px;
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .background img {
    padding-top: 300px;
  }
}
/* Background */ 

.Logo{
  z-index: 2;
  top: 35px;
  right: 688px;
  color: #9fc131;
  font-size: 100px;
  position: absolute;
  animation-name: pulse;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  from {font-size:95px;}
  to {font-size:100px;}
}

@media only screen and (max-width: 600px) {
  .Logo {
    top: 85px;
    right: 149px;
  }
}

.MyComponents {
  z-index: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
}

/* component-1 */
.component-1 {
  top: 150px;
  left: 700px;
  right: 0;
  bottom: 0;
  position: absolute;
  height: 50px;
  width: 5px;
  background-color: white;
}

@media only screen and (max-width: 600px) {
  .component-1 {
    top: 200px;
    left: 190px;
  }
}
/* component-1 */

/* component-2 */
.component-2 {
  border-radius: 20px;
  top: 200px;
  left: 250px;
  right: 0;
  bottom: 0;
  position: absolute;
  height: 5px;
  width: 900px;
  background-color: white;
}

@media only screen and (max-width: 600px) {
  .component-2 {
    top: 250px;
    left: 50px;
    width: 300px;
  }
}
/* component-2 */

/* Welcome */

.Welcome {
  position: absolute;
  left: 410px;
  top: 250px;
  width: 600px;
  color: white;
}

@media only screen and (max-width:800px){
  .Welcome {
    font-size: 12px;
    top: 300px;
    left: 50px;
    width: 300px;
  }
}

/* Welcome */

/* component-3 */
.component-3 {
  border-radius: 20px;
  top: 500px;
  left: 250px;
  right: 0;
  bottom: 0;
  position: absolute;
  height: 5px;
  width: 900px;
  background-color: white;
}

@media only screen and (max-width: 600px) {
  .component-3 {
    top: 500px;
    left: 50px;
    width: 300px;
  }
}
/* component-3 */

/* component-4 */
.component-4 {
  top: 500px;
  left: 700px;
  right: 0;
  bottom: 0;
  position: absolute;
  height: 50px;
  width: 5px;
  background-color: white;
}

@media only screen and (max-width: 600px) {
  .component-4 {
    top: 500px;
    left: 190px;
  }
}
/* component-4 */

/* component-5 */
.Links a{
  color: #042940;
  margin: 10px 90px;
  font-size: 30px;
  text-decoration-line: none;
}

.Links a:hover {
  color: darkgray;
}

@media only screen and (max-width: 600px) {
  .Links a{
    font-size: 20px;
    margin: 10px 27px;
  }
}

.component-5 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  top: 550px;
  left: 250px;
  right: 0;
  bottom: 0;
  position: absolute;
  height: 100px;
  width: 900px;
  background-color: white;
}

@media only screen and (max-width: 600px) {
  .component-5 {
    top: 550px;
    left: 50px;
    height: 50px;
    width: 300px;
  }
}
/* component-5 */

/* side-menu */
.SideMenu {
  z-index: 3;
  top: 30px;
  right: 100%;
  border-radius: 10px;
  height: 700px;
  width: 700px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  box-shadow: 1px 1px 10px;
  transition: right 1s;
}

@media only screen and (max-width:800px) {
  .SideMenu {
    display: none;
  }
}

.Pull {
  top: 50px;
  left: 670px;
  padding: 0;
  text-align: right;
  border-radius: 10px;
  position: absolute;
  height: 50px;
  width: 100px;
  background-color: rgb(255, 255, 255);
}

@media only screen and (max-width:800px) {
  .Pull {
    left: 270px;
  }
}

.Pull img {
  height: 50px;
  width: 50px;
}

.Bell {
  position: absolute;
  margin: 20px 20px;
}

.Bell i{
  font-size: 30px;
}

.Chart img{
    height: 200px;
    width: 200px;
    position: absolute;
    top: 80px;
    right: 470px;
}

.ClientInfo {
  position: absolute;
  border-radius: 40px;
  height: 70px;
  width: 400px;
  top: 100px;
  right: 30px;
  background-color: grey;
}
/* side-menu */

/* Mobile Menu */

.MobileMenu {
  height: 0%;
  width: 80%;
  background-color: #042940;
  position: absolute;
  z-index: 3;
  display: none;
  transition: height 1s;
}

@media only screen and (max-width:800px) {
  .MobileMenu {
    display: block;
  }
}

.MobileMenuIcon {
  position: absolute;
  z-index: 4;
  color: white;
  font-size: 30px;
  top: 10px;
  right: 30px;
  display: none;
}

@media only screen and (max-width:800px) {
  .MobileMenuIcon {
    display: block;
  }
}
/* /Mobile Menu */

/* Footer */

.footer {
  position: absolute;
  left: 520px;
}

@media only screen and (max-width:800px) {
  .footer {
    top: 770px;
    left: 40px;
  }
}

.FooterIcons i {
  margin: 10px 50px 10px 50px;
  font-size: 20px;
  color: white;
}

@media only screen and (max-width:800px) {
  .FooterIcons i {
    margin: 10px 40px 10px 40px;
  }
}

.FooterText {
  z-index: 2;
  font-size: 15px;
  color:white;
}

/* /Footer */