.App {
  text-align: center;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width:500px) {
  #Content {
    margin-top: 12vw;
  }
}

/* Components */
.MyComponents {
  width: 50vw;
}

.ComponentBox-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.component-1 {
  height: 5rem;
  width: 0.3rem;
  background-color: #042940;
}

.ComponentBox-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.component-2 {
  height: 0.3rem;
  width: 50rem;
  background-color: #042940;
}

.ComponentBox-3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.component-3 {
  height: 0.3rem;
  width: 50rem;
  background-color: #042940;
}

.ComponentBox-4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.component-4 {
  height: 5rem;
  width: 0.3rem;
  background-color: #042940;
}

.ComponentBox-5 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.component-5 {
  height: 3rem;
  width: 50rem;
  background-color: #042940;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Components */

/* Welcome */

.Welcome h1 {
  font-size: 2vw;
  color: #042940;
}

.Welcome p {
  font-size: 16px;
  color: #042940;
}

/* Logo-Pulse */

.Logo {
  font-size: 10vw;
  color: #9fc131;
}

/* Logo-Pulse */

/* Footer */

.footer {
  margin: 4vw 4vw;
}

.FooterIcons {
  font-size: 2vw;
  color:#042940;
}

.FooterText {
  font-size: 2vw;
  color:#042940;
}

/* Footer */

